.title {
  margin-bottom: 20px;
}

.box {
  display: flex;
  gap: 80px;
}

.list li{
  cursor: pointer;
  transition: all .3s;
}
.list li:hover{
  text-decoration: underline;
}

.img {
  width: 177px;
}

.selected {
  color: #222;
}

.topBox {
  display: flex;
  gap: 170px
}