
.pagination {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pagination span{

  padding: 0 5px;
  color: #999;
  cursor: pointer;
}
.selectedPage {
  color: #fff !important;
  font-weight: bold;
}
.btn {
  border: none;
  background-color: transparent;
  font-size: 22px;
  padding: 5px;
  margin-top: -11px;
  color: #999;
  cursor: pointer;
}
.btn:hover {
  color: #fff !important;
  font-weight: bold;
}