
.pagination {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pagination span{

  padding: 0 5px;
  color: #999;
  cursor: pointer;
}
.selectedPage {
  color: #fff !important;
  font-weight: bold;
}