.item {
  width: 97%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
.item *> p{
  padding: 0;
  margin: 0;
}

.picture {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userImg {
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  flex-grow: 1;
}

.editBtn {
  color: #fff;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #999;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s;
  margin-bottom: 15px;
}

.editBtn:hover {
  color: #333;
  background-color: #999;
  border: 1px solid #333;
}

.contacts {
  margin-left: 10px;
}