ul li {
  list-style-type: square;
  padding: 5px;
}

button:disabled {
  opacity: 0.3;
}

.app__wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap:15px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 35px;
}