
.form {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.form select{
  color: #fff;
  padding: 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #999;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s;
}

.form select option{
  color: #333;
}

.btn {
  width: 70px;
  color: #fff;
  padding: 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #999;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s;
}

.btn:hover {
  color: #333;
  background-color: #999;
  border: 1px solid #333;
}